		<footer>
			<p><a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> · <a href="https://charlubermensch.com/powered">powered by</a> · contact@charlubermensch.com</p>
		</footer>
