/* https://stackoverflow.com/questions/5721904/make-body-fill-entire-screen#5722111 */
html, body {
	margin: 0;
	min-height: 100%;
}

body {
	color: #dddddd;
	background: #222222;

	/* Make the text go at the middle */
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: turquoise;
}

/* "stolen" from https://www.geeksforgeeks.org/html-course-creating-navigation-menu/ */

header{
	overflow: hidden;
	text-align: center;
	height: 60px;
	margin: none;
}

#logo{
	float: left;
}

#logo img{
	float: left;
	padding: 10px 0px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

#menu{
	float: right;
	width: 70%;
}

#menu ul{
	text-align: center;
	float: right;
	background: rgba(0, 0, 0, 0);
}

#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}

#menu li a, #menu li span{
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 900;
	line-height: 30px;
	height: 30px;
	border-radius: 15px;
	border: 2px solid #dddddd;
}

#menu li a{
	color: #dddddd;
}

#menu li:hover a, #menu li span{
	background: white;
	color: black;
	border: 2px solid black; /* same thing but unseen as it's the same color as the backgroud */
}

/* correct the XMR address that was outreaching */

#article {
	overflow-wrap: break-word;
}

/* Try to do something about code being bigger than the limit */

code {
	max-width: 650px;
}

/* FOOTER */

footer {
	margin-top: 70px;
	border-radius: 15px;
}

footer p {
	padding: 5px;
}
